<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/edit.css">
  <title>Edit</title>
</head>
<body>
  <div class="edit-box">
    <div class="edit">
      <!-- <%=data%> -->
      <form action="/tasks/edit/" class="edit-form" method="POST">
          <div class="title">
          <label for="title">Title</label>
          <br>
          <!-- <% if(data.length>0){%> -->
          <!-- <input readonly type="text" placeholder="Title" class="title-in"value="<%=data.tasks.title%>"name="title">
          <%}else{%> -->
          <input  type="text" placeholder="Title" class="title-in" name="title"  value="<%=data.title%>">
          <!-- <%}%> -->
          <br>
          <label for="deadline">Deadline</label>
          <br>
          <input type="date"  class="date-in"value="<%=data.deadline%>"name="deadline">
          </div>
          <br>
          <div class="complete">
            <label for="complete" class="comp"> Completed</label>
            <input type="radio" name="completed" class="comp-in" value="Yes">Yes</input>
            <input type="radio" name="completed" class="comp-in" value="No">No</input>
          </div>
          <div class="body">
            <label for="body">Description</label>
            <br>
            <textarea rows=5 placeholder="Write Something about the task"class="desc-in" value=""name="desc"><%=data.desc%></textarea>
          </div>
         <br>
         <div class="submit-data"> <input type="submit" value="Submit"class="save"></div>
         
      </form>
      
    </div>
  </div>
  
</body>
</html>